html, body, main, section, div, h1, h4, label, textarea, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
main section#ying {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 100vw;
}
main section#ying label {
    display: none;
}
main section#ying textarea{
    padding: 1rem;
    width: 90%;
}
main section#ying button {
    background-color: #999;
    border: 1px solid #FFF;
    border-radius: 0.5rem;
    padding: 0.8rem;
    text-transform: uppercase;
}
main section#ying button:hover {
    background-color: #BBB;
    cursor: pointer;
    transition: .5s ease;
    /* font-weight: bold; */
    /* padding: 0.7rem; */
}

main section#yang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 100vw;
}
main section#yang div{
    border: 1px solid #000;
    border-radius: 1rem;
    display: none;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 85%;
}

#lettera, 
#parola {
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

#lettres, 
#mots {
    display: block;
    line-height: 2;
    transition: 0.5s ease;
}







@media (min-width: 412px) {

    main {
        align-items: initial;
    }

    main section#ying {
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: left;
        margin: 1rem 0;
        padding: 0;
        width: 100vw;
    }
    main section#ying textarea{
        width: 80%;
    }
    main section#ying button {
        width: 20%;
    }

    main section#yang {
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: left;
        margin: 1rem 0;
    }
    main section#yang div{
        border: 1px solid #000;
        border-radius: 1rem;
        display: none;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 80%;
    }
    #lettera, 
    #parola {
        text-align: left;
    }
}